config CRYPTO_KEY_TYPE
	tristate "Cryptographic key type"
	depends on KEYS
	help
	  This option provides support for a type of key that holds the keys
	  required for cryptographic operations such as encryption, decryption,
	  signature generation and signature verification.

config CRYPTO_KEY_PUBLIC_KEY_SUBTYPE
	tristate "Asymmetric public-key crypto algorithm subtype"
	depends on CRYPTO_KEY_TYPE
	select MPILIB
	help
	  This option provides support for asymmetric public key type handling.
	  If signature generation and/or verification are to be used,
	  appropriate hash algorithms (such as SHA-1) must be available.
	  ENOPKG will be reported if the requisite algorithm is unavailable.

config CRYPTO_KEY_PKEY_ALGO_RSA
	tristate "RSA public-key algorithm"
	depends on CRYPTO_KEY_PUBLIC_KEY_SUBTYPE
	select MPILIB_EXTRA
	help
	  This option enables support for the RSA algorithm (PKCS#1, RFC3447).
